**~
.idea
venv/
**/__pycache__/
*.log
server/resources/app.properties
server/resources/app.*.properties
scripts/psc/*.json
BUILD
server/BUILD
server/VERSION

# Ignore docker env file
.env

# log files in any path
**/*.log

# Rotated log files
**/*.log*
